%% == Compiler Options ==
{erl_opts, [
    debug_info,
    report,
    verbose,
    warn_unused_import,
    warn_export_vars
]}.

%% == Dependencies and Plugins ==
{deps, [
    {merklet, "2.0.0"},
    {uuid_erl, "2.0.7"}
]}.

{plugins, [
    {covertool, "2.0.7"},
    {rebar3_nix, ".*", {git, "https://github.com/erlang-nix/rebar3_nix.git", {tag, "v0.1.1"}}}
]}.

%% == Common Test Options ==
{ct_opts, []}.

%% == Releases ==
{relx, [
    {release, {domino, "0.1.0"}, [
        merklet,
        uuid_erl
    ]},

    {mode, dev},
    {extended_start_script, true},

    %% automatically picked up if the files
    %% exist but can be set manually, which
    %% is required if the names aren't exactly
    %% sys.config and vm.args
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},

    {overlay, [
        {mkdir, "log/sasl"},
        {mkdir, "log/errors"}
    ]}
]}.

%% == Profiles ==
{profiles, [
    %% prod is the default mode when prod
    %% profile is used, so does not have
    %% to be explicitly included like this
    {prod, [
        {relx, [
            {include_erts, true},
            {sys_config, "./config/sys.config"},
            %% https://rebar3.org/docs/deployment/releases/#modes
            {mode, prod}
        ]}
    ]},

    {test, [
        {deps, [
            meck, 
            proper
        ]}
    ]}
]}.

%% == Shell ==
%% apps to auto-boot with `rebar3 shell'; defaults to apps
%% specified in a `relx' tuple, if any.
{shell, [
    %% We have a special config just to run the app inside
    %% a shell, helps with debugging and local testing.
    {config, "config/shell.config"},
    {apps, [main]}

    %% If you need any environment variables to be set inside
    %% the debug shell as well.
    %%{env_file, "deployment/default.env"}]
]}.

%% == Dialyzer Settings ==
{dialyzer, [
    {plt_extra_apps, [merklet, uuid_erl, quickrand]},
    {warnings, [unknown]},
    {exclude_mods, [
        
    ]}
]}.

%% == EDOC Settings ==
{edoc_opts, [
    {doclet, edoc_doclet},
    {source_path, ["src"]},
    {app_default, "https://www.erlang.org/doc/man"},
    {preprocess, true},
    {includes, ["include"]},
    {dir, "doc"},
    {overview, "doc/overview.edoc"},
    {title, "Domino - Extended Relational Database Engine"},
    {pretty_printer, erl_pp}
]}.
