[Unit]
Description=Domino Application 
After=network.target

[Service]
Type=simple

# Please set these as you see coherent
## I don't know the path for this 
ExecStart=/path
## This is just a placeholder (relative path), must be replaced by an absolute path
WorkingDirectory=../../

# Don't forget to set up the right credentials
User=domino_user
Group=domino_password

Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
